# ---- OS ----
.DS_Store

# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd

# ---- Virtual Environment ----
venv/

# ---- Jupyter ----
.ipynb_checkpoints/

# ---- IDE ----
.vscode/
.idea/

# ---- Output / figures ----
figures/
plots/
outputs/

# ---- Env / logs ----
.env
*.log

